
    .a-nostyle {
        text-decoration: none; color: inherit;
        
    }
    
    .dark-theme {
        background-color: #2d2d2d;
        color: #c5c5c5; 
    }

    body {
        width:94%;
        height:100%;
        padding-top:1%;
        padding-left:3%;
        padding-right:3%;
        padding-bottom:3%;
        font-family: 'Raleway', sans-serif;
    }

    nav {
        font-weight: bold; 
        display: flex; 
        justify-content: space-between; 
        margin-top: 2%;
        margin-bottom: 3%;
        font-size: 30px;
        padding-left: 10%;
        padding-right: 10%;

    }

    .p-order {
        font-size: 16px;
        margin-left:5%;
        margin-right:5%;
    }

    /* блюда */

    .scroller {
        display: flex;
        flex-direction: row;
        gap: 4%;
        max-width: 105%;
        flex-wrap:wrap;
        margin-top: 1%;
    }
    .dish {
        margin-bottom:2%;
        flex: 0 0 auto; 
        width: 30%;  
        aspect-ratio: 2 / 3;
        background-color: #3e3e3e;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        scroll-snap-align: start; 
        transition: all 0.3s ease;

        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
    }

    .dish-name {
        font-size:24px;
        display: flex;
        justify-content: center; 
        align-items: center;  
        font-weight:bold;
        margin-top:20px;
        transition: all 0.3s ease;
    }

    .dish-price {
        font-size:16px;
        margin-top:5px;
        margin-left:5%;
        transition: all 0.3s ease;
    }

    .img-dish {
        border-radius:7px;
        max-width:90%;
        margin:5%;
        transition: all 0.3s ease;
    }

    .add {
        border-radius: 7px;
        background-color: #4a4a4a; 
        width:90%;
        text-decoration: none; color: inherit;
        
        font-weight: bold; 
        display: flex; 
        justify-content: center; 
        align-items: center;      
        height: 40px;  
        margin-left:5%;
        margin-right:5%;   
        transition: all 0.3s ease;

        margin-top: auto;
        margin-bottom:4%;
    }

    

    .dish:hover {
        border: 2px solid rgb(227, 173, 112);
        border-radius: 7px;
    }
    .add:hover {
        background-color: #636363;
        color: white;
    }
    .dish-name:hover {
        font-size:29px;
        margin-top:15px;
    }
    .dish-price:hover {
        font-size:20px;
        margin-top:0px;
    }
    .img-dish:hover {
        max-width:100%;
        margin:0%;
    }

    /* опрос */

    .form-beautiful {
        display: none;
        justify-content: space-between;
        margin: 10%;
        padding-left: 5%;
        padding-right: 5%;
        height:100%;
    }
    
    .form-column {
        display: none;
        flex-direction: column;
        align-content: flex-start;
        max-width: 40%;
    }

    label {
        font-size:24px;
        font-weight:bold;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    select  {
        height:40px;
        appearance: none;         
        -webkit-appearance: none; 
        -moz-appearance: none;    
        font-size:19px;
        padding: 5px 10px;
        color: #c5c5c5;
        background-color: #1c1c1c;
        border: 2px solid #c5c5c5; 
    } 

    textarea {
        color: #c5c5c5;
        background-color: #1c1c1c;
        font-size:19px;
        padding: 5px 10px;
        border: 2px solid #c5c5c5; 
    }
    input[type="text"], [type="email"], [type="tel"] {
        height:35px;
        color: #fff;
        background-color: #1c1c1c;
        font-size:19px;
        padding: 5px 10px;
        border: 2px solid #c5c5c5; 
    }
    input[type="time"] {
        margin-bottom:10%;
        height:36px;
        color: #fff;
        background-color: #1c1c1c;
        border: 2px solid #c5c5c5; 
    }
    button {
        background-color: #2d2d2d;
        color: #c5c5c5; 
        height:190%;
        width:45%;
        margin-right: 2%;
        font-size:20px;

        border: 2px solid #c5c5c5; 
        background: none;     
        cursor: pointer;
    }

    footer {
        background-color: #212121; 
        color: #c5c5c5;
        margin: -5%;
        font-size: 30px;
        margin-top: 10%;
        padding-top:2%;
        padding-bottom: 2%;
        padding-left: 7%;
        font-weight: bold;
    }

    .filter {
        font-weight: bold;
        text-decoration: none; color: inherit;
        margin:3%;
        transition: all 0.3s ease;
    }
    .filter.active {
        color: rgb(227, 173, 112);
    }
    
    /* блок с возможными комбо */

    .scroller-x {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap:nowrap;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 100%;
    }
    
    .tabled {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        width: 100%;
        align-content: center;
        justify-content: center; 
    }
    
    .tiny-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        margin: 5%;
    }

    .timyimg {
        max-width:50px;
        transition: all 0.2s ease;
    }
   
    .timyimg:hover {
        transform: scale(1.3) translateY(-10px);
    }


    .modal-overlay {
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        display: none; 
        align-items: center;
        justify-content: center;
      }
  

      .modal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 2px solid #c5c5c5; 
        background: #2d2d2d;
        border-radius: 10px;
        width: 40%; 
        height: 35%;
      }
  
      .close-button {
        margin-top: 15px;
        border-radius: 10px;
        padding: 5px 10px;
        height:50px;
      }
      .close-button:hover {
        background: #c5c5c5;
        border: 1px solid #2d2d2d; 
        color: #2d2d2d; 
      }
      .window-text {
        font-size:20px;
      }

      .bottom-banner {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%; height : 60px;
        background: rgba(45, 45, 45, 0.888);
        color: #c5c5c5;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        z-index: 1000;
      }
      
      .banner-text {
        font-size:20px;
      }
      
      .banner-button {
        background: #ffcc00;
        border: none;
        padding: 0.5rem 1.2rem;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s ease;
        width:20%;
        margin-right: 10%;
        height:95%;
        border-radius: 7px;
        background-color: #4a4a4a; 
        font-weight: bold;
      }
      
      .banner-button:hover {
        background-color: #636363;
        color: white;
      }
      

    



/* Из-за того, что размеры блоков указывал в процентах, в ориентации планшета 800х600 например 
сайт выглядит так же хорошо как и на компе. Нужды делать отдельную версию нет

На телефоне же добавил скроллбар чтобы выглядело все красиво и хорошо вмещалось и колонки расположил друг под другом: */



@media(max-width: 600px) { 
    .a-nostyle {
        text-decoration: none; color: inherit;
        font-size: 20px;
    }
    
    .dark-theme {
        background-color: #2d2d2d;
        color: #c5c5c5; 
    }

    h1, h2 {
        display: flex;
        justify-content: center; 
        align-items: center;  
    }

    body {
        padding:3%;
        font-family: 'Raleway', sans-serif;
    }

    nav {  
        font-weight: bold; 
        display: flex; 
        justify-content: space-between; 
        margin-top: 0%;
        margin-bottom: 25px;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 25px;
    }

    .p-order {
        font-size: 16px;
        margin-left:5%;
        margin-right:5%;
    }

    .dish {
        flex: 0 0 auto; 
        width: 60%;  
        aspect-ratio: 8 / 13;
        background-color: #3e3e3e;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        scroll-snap-align: start; 

        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
    }

    .dish-name {
        font-size:19px;
        display: flex;
        justify-content: center; 
        align-items: center;  
        font-weight:bold;
        margin-top:4%;
        margin-bottom:2%;

    }

    .dish-price {
        font-size:16px;
        margin-left:5%;
    }

    img {
        border-radius:7px;
        max-width:90%;
        margin:5%;
    }

    .add {
        border-radius: 7px;
        background-color: #4a4a4a; 
        width:90%;
        text-decoration: none; color: inherit;
        font-weight: bold; 
        display: flex; 
        justify-content: center; 
        align-items: center;      
        height: 40px;  
        margin-left:5%;
        margin-right:5%;  
        
        margin-top: auto;
        margin-bottom:4%;
    }

    .scroller {
        width: 100%;
        display: flex;
        overflow-x: auto;
        gap: 6%; 
        padding: 10px;
        scroll-snap-type: x mandatory; 
        flex-wrap:nowrap;
    }
    .scroller::-webkit-scrollbar {
        display: none; 
    }

    .dish:hover {
        
        border: 1px solid rgb(227, 173, 112);
        border-radius: 7px;
    }
    .add:hover {
        background-color: #636363;
        color: white;
    }
    .dish-name:hover {
        font-size:24px;
    }
    .dish-price:hover {
        font-size:20px;
    }
    img:hover {
        max-width:100%;
        margin:0%;
    }

    .form-beautiful {
        margin: 0%;
        justify-content: center;
        
    }

    .form-column {
        max-width: 100%;
        margin-top:8%;
        margin-bottom: 7%;
    }

        .form-beautiful {
            flex-direction: column;
        }
    

    button {
        height:60px;
    }

    .scroller-x {
        margin-top: 5%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap:nowrap;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 100%;
    }
    
    .tabled {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        width: 300px;
        align-content: center;
        justify-content: center; 
    }
    
    .tiny-block {

        margin: 0%;
    }

    .timyimg:hover {
        transform: scale(0.3) translateY(-0px);
        margin:-15%;
        padding:-15%;

    }
}

